<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Components | HolyStudio</title>
        <link type="text/css" rel="stylesheet" href="css/main.css">
        <script src="https://kit.fontawesome.com/b922a1fe5c.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Web Design System</h1>
        <h2>HolyStudio</h2>
        <p>A collection of design components of website <a href="https://holystudio.com/en">holystudio.com</a>.</p>
        
        <h3>Typography</h3>
            <h4>body</h4>
            <img src="../img/section--description.png" width="250" alt="body">
            <p>code</p>
            <p>Unleash the authentic character of your brand. From a solid name to a recognizable visual identity, a user-friendly website or app – you'll find it all with us, expertly delivered by our unified team.</p>         
            
            <h4>h2, h3, h4,...</h4>
            <img src="../img/section--tagline.png" width="300" alt="tagline">
            <h2>Giving brands <em>confidence</em></h2>
            <img src="../img/testimony-section-title.png" width="150" alt="title">
            <h3>Testimonials</h3>
            <img src="../img/testimony-statement.png" width="350" alt="statement">
            <h4>Without any doubt, we entrust Holy with our following projects and full decision-making authority over their direction.</h4>
            
            <h4>a</h4>
            <img src="../img/link.png" width="120" alt="body">
            <a href="#!">Privacy policy</a>
        <h3>Atoms</h3>
            <h4>wordmark</h4>
            <img src="../img/top-nav_logo.png" width="200" alt="logo">
            <p class="wordmark"><em>Holy</em>Studio</p>
            
            <h4>button</h4>
            <img src="../img/button--primary.png" width="200" alt="default button">
            <a href="#!" class="button">Ask about the project</a>
            <img src="../img/button-outline.png" width="200" alt="outline button dark">
            <div class="dark-mode-container"><a href="#!" class="button button--outline-dark">Request a quote</a></div>
            <img src="../img/outline-button-light.png" width="200" alt="outline button light">
            <a href="#!" class="button button--outline-light">See our projects</a>
        
            <h4>nav icon</h4>
            <img src="../img/link-arrow.png" width="70" alt="link-arrow">
            <div class="nav-icon"><a href="#!"><i class="fa-solid fa-angle-down"></i></a></div>
            <h4>slide show icon</h4>
            <img src="../img/testimony-slideshow-icon.png" width="100" alt="slide show icon">
            <div class="slide-show-icon-container">
                <a href="#!"><i class="fa-solid fa-circle "></i></a>
                <a class="circle--active" href="#!"><i class="fa-solid fa-circle"></i></a>
                <a href="#!"><i class="fa-solid fa-circle"></i></a>
            </div>
            <h4>section heading</h4>
            <img src="../img/section-title.png" width="100" alt="default button">
            <h3>Offer</h3>

        <h3>Section tagline</h3>
        <img src="../img/section-tagline.png" width="200" alt="section tagline">
        <h2>Everything <em>you need</em></h2>
        
        <h3>Article</h3>
        <img src="../img/section_post.png" width="450" alt="article post">
        <div class="post__container">
            <img class="post__img" src="http://via.placeholder.com/424x537" alt="img placeholder">
            <h2 class="post__title">Zojo Elixirs</h2>
            <p class="post__description">Supplement packaging reimagined – adding elegance to wellness</p>
        </div>
        
        <h3>Section item</h3>
        <img src="../img/list-item.png" width="950" alt="list item">
        <div class="section__item"> 
            <h3 class="item__num">01</h3>
            <h2 class="item__name">New brand</h2>
            <div class="item__container">
                <p class="item__description">Avoid the pitfalls that await beginners and focus on building a strong foundation. Choose a solid starting point for success.</p>
                <a href="#!">Discover more</a>
            </div>
            <img class="item__img" src="http://via.placeholder.com/242x148" alt="img placeholder">
        </div>
        
        <h3>Section list</h3>
        <img src="../img/section-list.png" width="850" alt="section list">
        <ul class="section__list">
            <li>
                <div class="section__item"> 
                    <h3 class="item__num">01</h3>
                    <h2 class="item__name">New brand</h2>
                    <div class="item__container show-hover">
                        <p class="item__description hidden">Avoid the pitfalls that await beginners and focus on building a strong foundation. Choose a solid starting point for success.</p>
                        <a class="hidden" href="#!">Discover more</a>
                    </div>
                    <img class="item__img" src="http://via.placeholder.com/242x148" alt="img placeholder">
                </div>
            </li>
            <li>
                <div class="section__item"> 
                    <h3 class="item__num">02</h3>
                    <h2 class="item__name">Rebranding</h2>
                    <div class="item__container show-hover">
                        <p class="item__description hidden">Embrace change. We will guide you through all stages: identifying issues, assessing risks, and implementing changes.</p>
                        <a class="hidden" href="#!">Discover more</a>
                    </div>
                    <img class="item__img hidden" src="http://via.placeholder.com/242x148" alt="img placeholder">
                </div>
            </li>
            <li>
                <div class="section__item"> 
                    <h3 class="item__num">03</h3>
                    <h2 class="item__name">Package Design</h2>
                    <div class="item__container hidden show-hover">
                        <p class="item__description">Captivate customers' attention with standout packaging, showcasing your product prominently on store shelves.</p>
                        <a href="#!">Discover more</a>
                    </div>
                    <img class="item__img" src="http://via.placeholder.com/242x148" alt="img placeholder">
                </div>
            </li>
            <li>
                <div class="section__item"> 
                    <h3 class="item__num">04</h3>
                    <h2 class="item__name">E-commerce</h2>
                    <div class="item__container hidden show-hover">
                        <p class="item__description">Enhance your store's user experience. Position your brand as a leader, driving long-term business benefits and customer loyalty.</p>
                        <a href="#!">Discover more</a>
                    </div>
                    <img class="item__img" src="http://via.placeholder.com/242x148" alt="img placeholder">
                </div>
            </li>
            <li>
                <div class="section__item"> 
                    <h3 class="item__num">05</h3>
                    <h2 class="item__name">Apps & startups</h2>
                    <div class="item__container hidden show-hover">
                        <p class="item__description">Create or enhance your application with confidence, avoiding any unexpected design challenges. Tailor your product to meet the market's expectations.</p>
                        <a href="#!">Discover more</a>
                    </div>
                    <img class="item__img" src="http://via.placeholder.com/242x148" alt="img placeholder">
                </div>
            </li>
        </ul>
        <h3>footer</h3>
        <img src="../img/footer.png" width="850" alt="footer">
        <div class="footer__container">
            <div class="footer__contact-container">
                <p class="footer__email">hello@holystudio.com</p>
                <p class="footer__phone">+48 507 191 267</p>
            </div>
            <div class="footer__logo-placeholder"><h2>holy</h2></div>
            <div class="footer__info-container">
                <p class="footer__address">
                    Holy Studio Sp. z o.o.<br>
                    ul. Sienkiewicza 34a/25<br>
                    Wrocław 50-335, Polska
                </p>
                <p class="footer_ID">NIP: 8971849920  KRS: 0000710340</p>
            </div>
        </div>

    </body>
</html>